<div class="article">
  <h3><%= link_to "#{draft_article.title}", articles_draft_path(draft_article), class:"btn-block erb-link" %></h3>
  <time datetime="<%= draft_article.created_at %>" class="text-muted">
    <%= "#{time_ago_in_words(draft_article.updated_at)}å‰" %>
  </time>
</div>
