<div class="article-show">
  <h1><%= @article.title %></h1>
  <%= @article.content %>
  <div class="author d-flex justify-content-end">
    <%= link_to edit_article_path(@article), class:"btn main-btn" do %>
      <i class="fas fa-pen edit-icon"></i>編集
    <% end %>
    <%= link_to articles_draft_path(@article), method: :delete, data: { confirm: "削除しますか？" }, class:"btn negative-btn" do %>
        <i class="fas fa-trash-alt edit-icon"></i>削除
    <% end %>
  </div>
</div>
