$main-color: #9ddcdc;
$sub-color: #7ec2c2;
$accent-color: #e67a7a;
$other-color: #847f7d;

$main-background-color: #fff4e1;
$article-list-color: #f8f8f8;
$article-list-border-color: #cac8c8;

@mixin icon_size($size: 25px) {
  border-radius: 50%;
  width: $size;
  height: $size;
}
