/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

/* ベースカラー */
$main-color: #9ddcdc;
/* 全体 */

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

.erb-link {
  text-decoration: none;
  color: black;
}
/* max-width */

.mw-sm {
  max-width: 576px;
}

.mw-md {
  max-width: 768px;
}

.mw-lg {
  max-width: 992px;
}

.mw-xl {
  max-width: 1200px;
}

/* body */

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: #fff4e1;
  padding-top: 80px;
}

/* header */
.header {
  background-color: $main-color;
  .logo {
    width: 150px;
    height: 50px;
    margin-left: -5px;
  }
  .header-link {
    list-style-type: none;
    .header-text {
      color: #fff;
    }
    .icon {
      margin-right: 5px;
    }
  }
  .navbar-toggler {
    border: 4px solid #fff;
    border-color: #fff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

/* _article */
.article {
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgb(202, 200, 200);
  border-bottom: 1px solid rgb(202, 200, 200);
  margin: 0 0 -1px;
  padding: 16px 16px 0px 16px;
  width: 100%;
  .reaction {
    display: flex;
    justify-content: space-between;
    .like-icon {
      color: #e67a7a;
      font-size: 20px;
      margin-right: 8px;
    }
    .keep,
    .dont-keep {
      font-size: 40px;
      transform: translateY(-40px);
      color: $main-color;
    }
  }
}
// フラッシュ

.alert-notice {
  @extend .alert-success;
  margin-top: -5px;
}

.alert-alert {
  @extend .alert-danger;
  margin-top: -5px;
}
