@import "variables.scss";

.profile-contener {
  background-color: $article-list-color;
  .user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
